html, body {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.search-toolbar > .v-toolbar__content {
  padding: 4px 6px;
}

.v-app-bar {
  z-index: 1;
}

.v-item-group.v-bottom-navigation .v-btn {
  height: 100% !important;
}

.v-card {
  border-radius: 8px !important;
}